/* Login Form Styles: */
.loginForm {
    background-color: #fdfaf5;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    align-self: center;
}

.loginH2 {
    text-align: center;
    color: #1f1f1f;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.loginH3 {
    font-weight: bold;
    color: #1f1f1f;
    margin-bottom: 0.5rem;
}

.loginForm input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    background-color: #f9f9f9;
    box-sizing: border-box;
}

.loginForm input:focus {
    outline: none;
    border-color: #007BFF;
    background-color: #fff;
}

.loginBtn {
    width: 100%;
    padding: 0.75rem;
    background-color: #007BFF;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.loginBtn:hover {
    background-color: #0056b3;
}


/* Welcome Styles: */
.mainLogo {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #333;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* Section Styles: */
.leftSection {
    display: flex;
    flex-direction: column;
    justify-content: center;    /* vertical centering */
    align-items: center;        /* horizontal centering */
}
